.banner_container_background{
    position: relative;
    text-align: center;
    width: 100%;
    background: url('../public/home_banner_asset_3.jpg');
    background-size: cover;
    margin: 0px auto;
}.banner_container{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    background-size: cover;
    margin: 0px auto;
}
.banner_text_content{
    position: relative;
    text-align: left;
    width:fit-content;
    max-width: 480px;
    border-radius: 9px;
    margin: 12px 0px;
    padding: 0px 12px 0px 12px;
    color: white;
    background-color: black;
}
.banner_profile_image{
    position: relative;
    width: 240px;
    max-width: 100%;
    border-radius: 50%;
}