.banner_container_background{
    position: relative;
    text-align: center;
    width: 100%;
    background: url('../public/home_banner_asset_3.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin: 0px auto;
}
.banner_container{
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.1);
    background-size: cover;
    margin: 0px auto;
}
.banner_text_content{
    position: relative;
    text-align: left;
    width:fit-content;
    max-width: 480px;
    border-radius: 9px;
    margin: 12px 0px;
    padding: 0px 12px 0px 12px;
    color: white;
    background-color: black;
}
.banner_profile_image{
    position: relative;
    width: 240px;
    max-width: 100%;
    border-radius: 50%;
}
.about_container{
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.about_content{
    position: relative;
    text-align: center;
    width: 720px;
    margin: 0px auto;
    padding: 60px 30px 60px 30px;
    color: #FFFFFF;
    background: rgba(10, 10, 10, 0.9);
}

@media screen and (max-width: 1440px){
    
}
@media screen and (max-width: 1280px){
    
}
@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 1080px){
    
}
@media screen and (max-width: 992px){
    
}
@media screen and (max-width: 768px){
    
}
@media screen and (max-width: 576px){
    
}
@media screen and (max-width: 411px){
    
}